/* #region загальні */
body {
  font-family: "Roboto", serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region header */

/* .page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
} */

/* .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
} */

.header-logo {
  /* padding: 24px 0; */
  /* margin-right: 76px; */
}

/* .nav-list {
  display: flex;
  align-items: center;
  gap: 40px; */
/* } */

/* .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
} */

.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  /* display: flex; */
  align-items: center;
  gap: 40px;
}

.contact-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
} */

/* #endregion */

/* #region hero */
/* .hero {
  background-color: #2e2f42; */
  padding: 188px 0 188px;
  /* background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
} */

/* .hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 48px;
  max-width: 496px;
} */

.hero-button {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  text-align: center;
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
/* #endregion */

/* #region advantages */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* .advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.advantages-list {
  display: flex;
  gap: 24px;
}

/* .advantages-item {
  width: calc((100% - 72px) / 4);
} */

/* .div-svg {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  /* padding: 24px 100px; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
} */ */

/* .advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; */
}
.advantages-text {
  font-weight: 400;
  font-size: 15px;
  /* line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
} */ */

/* #endregion */

/* #region team */

.team {
  /* background: #f4f4fd; */
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
} */

.team-list {
  /* display: flex; */
  gap: 24px;
}

/* .team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
} */
/* .team-image {
  display: block;
  max-width: 100%;
  height: auto;
} */
/* .team-div {
  padding: 32px 16px;
} */

/* .team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
} */

/* .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 50%;
  padding: 12px;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* #endregion */

/* #region portfolio */

/* .portfolio {
  padding: 120px 0;
} */

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; */
  /* row-gap: 48px;
} */

/* .portfolio-div {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
} */

/* .portfolio-image {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .div-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .overlay {
  transform: translateX(0);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
} */

/* .project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */

/* #endregion */

/* #region footer */

/* .footer {
  padding: 120px 0;
   /* background-color: #2e2f42; */
} */

/* .footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}  */

/* .footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
} */

.logo-div {
  margin-right: 120px;
}

.social-div {
  margin-right: 80px;
}

.footer-container {
  /* display: flex; */
  /* gap: 120px; */
  align-items: baseline;
}

/* .social-links-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
} */

/* .social-links-footer {
  display: flex;
  gap: 16px;
}

.social-link-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  fill: #f4f4fd;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
} */

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  margin-right: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.form-email {
  display: flex;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #31d0aa;
}

.form-svg {
  fill: #fff;
  margin-left: 16px;
}

/* #endregion */

/* #region footer */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;

  padding: 24px;
}

.modal-close-btn {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #2e2f42;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: #fff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 48px;
  margin-bottom: 16px;
}

/* .modal-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: baseline;
  position: relative;
  margin-top: 4px;
  margin-bottom: 8px;
}

.modal-svg {
  position: absolute;
  left: 16px;
}

.input-modal {
  outline: 0;
  box-shadow: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
 width: 100%;
 padding:11px 0 11px 38px;
}

.input-modal:focus{
border: 1px solid #4d5ae5;
}

.modal-container:hover .modal-svg {
  fill: #4d5ae5;
}

.modal-label {
  font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
} */

/* #endregion*/

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 38px;
  outline: transparent;
}

.modal-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-container {
  position: relative;
}

.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-wrapper {
  margin-bottom: 8px;
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.input-modal:focus + .modal-svg {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.policy_label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.policy_a {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.policy-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .policy_label .policy-span {
  background-color: #4d5ae5;
  border: none;
  fill: #f4f4fd;
}

.checkbox-div {
  margin-bottom: 24px;
}
.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
}
